<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseConnection.Properties.Settings.C_csDatabaseConnectionConnectionString"
            connectionString="Data Source=DESKTOP-FURKAN\FIRSTSQL;Initial Catalog=C-csDatabaseConnection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>